<div id="app">
  <h1>This is where Backbone should be loaded</h1>
</div>
<script type="html/template" id="AppViewTemplate">
<nav>
<div class="nav-wrapper">

    <ul id="nav-mobile" class="center hide-on-med-and-down">
      <div class="nav-button">
        <li><a href="/planes" class="waves-effect waves-grey btn-flat btn-large">Planes</a></li>
      </div>
      <div class="nav-button">
        <li><a href="/flights" class="waves-effect waves-grey btn-flat btn-large">Flights</a></li>
      </div>
      <div class="nav-button">
        <li><a href="/users" class="waves-effect waves-grey btn-flat btn-large">Admin</a></li>
      </div>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="title">
    <a><img src="http://i.imgur.com/eepyh4M.gif"></a>


  </div>
    <div id="searchForm">
    <textarea placeholder="Enter Origin Here" id="origin"></textarea>
    <textarea placeholder="Enter Destination Here" id="destination"></textarea>

  <button class="waves-effect waves-light btn deep-orange darken-2" id="cancel">Cancel</button>
  <button class="waves-effect waves-light btn" id="search">Search</button>
    </div>
</div>

<h2>Flight Search Results</h2>
<p>
  <ul id="flights">
  </ul>
</p>
</script>



<script type="html/template" id="SearchResultsTemplate">
<div id="flightId">
  <h2>Flight Search Results</h2>
  <p>
    <ul id="flights">
    </ul>
  </p>
  </div>
</script>



<script type="html/template" id="FlightViewTemplate">





  <div id ="seatMap">

  <p>
      <%%= origin %></h2> to <%%= destination %>

  </p>

<p>
  <%%= plane_id %>
  <%%= date %>
  <%%= remaining_seats %>
</p>


  </div>
  <button>Save Your Seat</button>
</script>

<script type="html/template" id="reservationViewTemplate">
  <div id="resView">
  <p>
      <%%= origin %></h2> to <%%= destination %>

  </p>


  </div>


</script>
