<div id="app">
  <h1>This is where Backbone should be loaded</h1>
</div>
<script type="html/template" id="AppViewTemplate">
<nav>
<div class="nav-wrapper">

    <ul id="nav-mobile" class="center hide-on-med-and-down">
      <div class="nav-button">
        <li><a href="/planes" class="waves-effect waves-grey btn-flat btn-large">Planes</a></li>
      </div>
      <div class="nav-button">
        <li><a href="/flights" class="waves-effect waves-grey btn-flat btn-large">Flights</a></li>
      </div>
      <div class="nav-button">
        <li><a href="/users" class="waves-effect waves-grey btn-flat btn-large">Admin</a></li>
      </div>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="title">
    <a><img src="http://i.imgur.com/eepyh4M.gif"></a>


  </div>
    <div id="searchForm">
    <textarea placeholder="Enter Origin Here"></textarea>
    <textarea placeholder="Enter Destination Here"></textarea>

  <button class="waves-effect waves-light btn deep-orange darken-2">Cancel</button>
  <button class="waves-effect waves-light btn">Search</button>
    </div>
</div>

<h2>Flight Search Results</h2>
<p>
  <ul id="flights">
  </ul>
</p>
</script>



<script type="html/template" id="SearchResultsTemplate">

  <h2>Flight Search Results</h2>
  <p>
    <ul id="flights">
    </ul>
  </p>
</script>
<<<<<<< HEAD

=======
>>>>>>> 515450eee6639d95cf79936522d650a742ea3cef



<script type="html/template" id="FlightViewTemplate">
  <h1>Select Your Seat</h1>
  <container id ="seatMap">


  </container>
  <button>Save Your Seat</button>
</script>
