<div id="app">
  <h1>This is where Backbone should be loaded</h1>
</div>

<script type="html/template" id="AppViewTemplate">
  <h1>Burning Airlines</h1>
  <hr/>

  <div id="searchForm">
  <textarea placeholder="Enter Origin Here"></textarea>
  <textarea placeholder="Enter Destination Here"></textarea>

  <button>Cancel</button>
  <button>Search</button>
</div>
</script>

<div id="flights">
  <h2>A list of flights should show here</h2>
<script type="html/template" id="SearchResultsTemplate">
  <h2>Flight Search Results</h2>
  <p>
    <ul id="flights">
    </ul>
  </p>
</script>

<<<<<<< HEAD
<script type="html/template" id="ReservationInputTemplate">
  <h1>Select Your Seat</h1>
  <container id ="seatMap">


  </container>
  <button>Save Your Seat</button>
</script>
=======


</div>
>>>>>>> f14c77419b08e489f26a0d5efbab7e571b661c27
