// Place all the styles related to the Flights controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  width: 64%;
  // margin-top: 50px;
  border: 5px solid #90a4ae;
  border-radius: 10px;
  float: center;
  height: 310px;
  overflow: scroll
}

.nav-wrapper {
  background-color: #b0bec5;
  height: 50px;
}

.nav-button {
  background-color: #b0bec5;
}

.title {
  // background-color: #b0bec5;
  padding-top: auto;
  padding-left: 205px;
  margin-bottom: 0 auto;
}

.forms {
  width: 64%;
  margin-top: 110px;
  border: 5px solid #90a4ae;
  border-radius: 10px;
  float: center;
  height: 500px;
}

.button {
  height:20px;
  width:100px;
  margin: 0px -50px;
  position: relative;
  top:50%;
  left:50%;
}

.img {
  height: 120px;
}

.new-form {
  width: 35%;
  border: 5px solid #90a4ae;
  border-radius: fix;
  float: center;
  height: auto;
  margin-left: 350px;
  margin-top: 20px;
}

.header {
  margin-left: 80px;
  font-family:  serif;

}
